@import '@styles/base';

.container{
    height: 100vh;
    padding-top: 6rem;
    .profileWrapper{
        padding: 1rem 2rem 1rem;
        @include directionY;
        @include center;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .name{
            font-size: 2rem;
            font-weight: 500;
        }
        .email{
            color: slategray;
            font-style: italic;
        }
        .phoneNumber{
            font-weight: 300;
        }

        button {
            padding: 0.6rem;
            font-size: 14px;
            background-color: green;
            color: white;
            border: none;
            border-radius: 4px;
            width: 200px;
            font-weight: 400;
            cursor: pointer;
            margin-top: 1rem;
        }
    }

    .reviews{
        text-align: center;
        font-weight: 500;
        padding-bottom: 1rem;
    }
    .cardContainer{
        padding: 0rem 1rem 0rem;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
        .cardWrapper:hover {
            background-color: rgb(76, 221, 76);
        }
        .cardWrapper{
            @include directionX;
            border-radius: 10px;
            padding: 0.8rem;
            border: 2px green solid;
            width: 49%;
            transition: background-color 0.3s ease;
            
            img{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }
            .img{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }
            .content{
                // border: 1px blue solid;
                text-align: left;
                padding-left: 1rem;
                .commentName {
                    font-size: 0.8rem;
                }
                .commentField{
                    font-size: 1rem;
                    font-style: italic;
                    font-weight: 400;
                    color: slategray;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .container {

        .cardContainer{
            @include directionY;
            .cardWrapper{
                width: 100%;
            }
        }
    }
}