@import '@styles/base';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 70px;

    .wrapper {
        padding: 0px 20px 10px;
        width: 25%;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

        h1 {
            text-align: center;
            font-size: 1.2rem
        }

        .picture {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
                border: none;
            }

            .customFileButton {
                position: relative;
                overflow: hidden;
                display: inline-block;

                & button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: rgb(65, 65, 146);
                    color: white;
                    height: 30px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    border-radius: 3px;
                    width: 100px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(100, 100, 218);
                    }
                }

                & input[type="file"] {
                    font-size: 100px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    cursor: pointer;
                }
            }
        }

        form {
            @include directionY;

            .inputItem {
                @include directionY;

                label {
                    font-size: 0.6rem;
                    font-weight: 700;
                }

                input {
                    padding: 0.3rem;
                    font-size: 0.6rem;
                    margin-bottom: 1rem;
                    border-radius: 5px;
                    background-color: rgb(211, 211, 211);
                }

                select {
                    padding: 0.3rem;
                    font-size: 0.6rem;
                    margin-bottom: 1rem;
                    border-radius: 5px;
                    background-color: rgb(211, 211, 211);
                    cursor: pointer;

                    option {
                        cursor: pointer;
                    }
                }
            }

            button {
                padding: 0.5rem;
                background-color: blue;
                color: white;
                border-radius: 4px;
                cursor: pointer;
            }

            .buttonRegister {
                margin: 1rem 0 1rem;
                cursor: pointer;
            }
        }

        p {
            font-size: 12px;
            text-align: center;
        }
    }
}

@media (max-width: 450px) {
    .container {

        .wrapper {
            padding: 10px;
            width: 80%;
        }
    }
}